html,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 
    Inter,sans-serif;
}
header{
    background-color: #07AB67;
    text-align: center;
    color: white;
    padding: .5rem;
    font-family: Inter,sans-serif;
    font-weight: 400;
    height: 3vh;
    z-index: 1;

}

nav{
    
    background-color: #121E2C;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 0;
   
   }

   




#image {
    padding-top: 15px;
    margin-left: 5%;
    
}



#container{
    padding-top: 25px;
    word-spacing: 40px;
    margin-right: 40px;
    
}

#container a:hover{
  text-decoration: underline;
text-decoration-color: #07AB67;
text-decoration-style: double;
}

#container  i{
display: inline-block;
  font-size: 24px;
  
}

#container a{
    text-decoration: none;
    color: white;
    font-size: 17px;
 
}
#container #btn{
    word-spacing: 0px;
    border: 1px solid #07AB67;
    border-radius: 30px;
    padding: 15px 25px 15px 25px;
    background-color: #07AB67;
}



#container1 {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #121E2C;
  display: flex;
  

}

#text{
  padding: 10% 0 0 8%;
  
  margin: 0 10% 10% 0%;
  width:30%;
  color: #D8E0E9;
  
  
}
#text p {
    padding-top: 10px;
}
#container1 h1{
    font-size: 3.4375rem;
   width: 80%;
   }


  #download {
    display: flex;
   
    padding-top: 10px;
  }

  #para{
    width: 100%;
    font-size: 98%;
    }

  #download #image a{
    display: flex;
    height: 50px;
}


  #image1{

    margin-top: 90px;
    margin-right:10px;
  }

  #image1 img{
    height: 85%;
  }